%rebase('osnova.html', naslov='Prijava', stran='prijava')

<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Prijava</title>
</head>
<body>
    <h1>Prijava</h1>
    <form action="/login" method="post">
        <label for="username">Uporabniško ime:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Geslo:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Prijavi se">
    </form>
</body>
</html>